pl_bronze_ingest.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Lookup_PipelineMetadata').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "IfCondition",
              "typeProperties": {
                "expression": {
                  "value": "@equals(item().load_type, 'incremental')",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "type": "Lookup",
                    "typeProperties": {
                      "source": {
                        "type": "LakehouseTableSource",
                        "sqlReaderQuery": {
                          "value": "SELECT COALESCE(\n    (SELECT TOP 1 watermark_value\n     FROM etl.watermark\n     WHERE object_name = '@{concat(item().source_system, '_', item().source_schema, '_', item().source_table, '_TO_', item().target_schema, '_', item().target_table)}'\n     ORDER BY timestamp DESC),\n    '1900-01-01 00:00:00'\n) AS last_wm",
                          "type": "Expression"
                        },
                        "partitionOption": "None"
                      },
                      "datasetSettings": {
                        "type": "LakehouseTable",
                        "schema": [],
                        "connectionSettings": {
                          "name": "8c1d4f03_cc0d_47e3_b75d_023cf21b67a1",
                          "properties": {
                            "type": "Lakehouse",
                            "typeProperties": {
                              "artifactId": "@pipeline().libraryVariables.vl_wwi_lakehouse_id",
                              "workspaceId": "@pipeline().libraryVariables.vl_wwi_workspace_id",
                              "rootFolder": "Tables"
                            },
                            "externalReferences": {
                              "connection": "@pipeline().libraryVariables.vl_wwi_lakehouse_connection_id"
                            },
                            "annotations": []
                          }
                        },
                        "annotations": []
                      },
                      "firstRowOnly": true
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Lookup_GetLastWatermark",
                    "dependsOn": []
                  },
                  {
                    "type": "Lookup",
                    "typeProperties": {
                      "source": {
                        "type": "FabricSqlDatabaseSource",
                        "sqlReaderQuery": {
                          "value": "SELECT MAX(@{item().watermark_column}) as src_wm\nFROM @{item().source_schema}.@{item().source_table}",
                          "type": "Expression"
                        },
                        "partitionOption": "None",
                        "queryTimeout": "02:00:00"
                      },
                      "datasetSettings": {
                        "type": "FabricSqlDatabaseTable",
                        "schema": [],
                        "connectionSettings": {
                          "name": "8456dbe5_72b3_4997_a11e_e4a46d0adf0a",
                          "properties": {
                            "type": "FabricSqlDatabase",
                            "typeProperties": {
                              "artifactId": "@pipeline().libraryVariables.vl_wwi_source_sqldb_id",
                              "workspaceId": "@pipeline().libraryVariables.vl_wwi_workspace_id"
                            },
                            "externalReferences": {
                              "connection": "@pipeline().libraryVariables.vl_wwi_fabric_source_connection"
                            },
                            "annotations": []
                          }
                        },
                        "annotations": []
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Lookup_GetSourceWatermark",
                    "dependsOn": []
                  },
                  {
                    "type": "Copy",
                    "typeProperties": {
                      "source": {
                        "type": "FabricSqlDatabaseSource",
                        "sqlReaderQuery": {
                          "value": "@{item().custom_query}\nWHERE @{item().watermark_column} > '@{activity('Lookup_GetLastWatermark').output.firstRow.last_wm}'\n  AND @{item().watermark_column} <= '@{activity('Lookup_GetSourceWatermark').output.firstRow.src_wm}'\n",
                          "type": "Expression"
                        },
                        "partitionOption": "None",
                        "queryTimeout": "02:00:00",
                        "additionalColumns": [
                          {
                            "name": "audit_ts",
                            "value": {
                              "value": "@utcNow()",
                              "type": "Expression"
                            }
                          },
                          {
                            "name": "source_id",
                            "value": {
                              "value": "@{item().source_system}",
                              "type": "Expression"
                            }
                          }
                        ],
                        "datasetSettings": {
                          "type": "FabricSqlDatabaseTable",
                          "schema": [],
                          "connectionSettings": {
                            "name": "43c71fd8_abed_4f87_bd99_56ea58ccbcf9",
                            "properties": {
                              "type": "FabricSqlDatabase",
                              "typeProperties": {
                                "artifactId": "@pipeline().libraryVariables.vl_wwi_source_sqldb_id",
                                "workspaceId": "@pipeline().libraryVariables.vl_wwi_workspace_id"
                              },
                              "externalReferences": {
                                "connection": "@pipeline().libraryVariables.vl_wwi_fabric_source_connection"
                              },
                              "annotations": []
                            }
                          },
                          "annotations": []
                        }
                      },
                      "sink": {
                        "type": "ParquetSink",
                        "formatSettings": {
                          "type": "ParquetWriteSettings",
                          "enableVertiParquet": true
                        },
                        "storeSettings": {
                          "type": "LakehouseWriteSettings"
                        },
                        "datasetSettings": {
                          "type": "Parquet",
                          "typeProperties": {
                            "location": {
                              "type": "LakehouseLocation",
                              "folderPath": {
                                "value": "@{item().target_schema}/@{item().target_table}/@{formatDateTime(utcNow(),'yyyy/MM/dd')}",
                                "type": "Expression"
                              }
                            },
                            "compressionCodec": "snappy"
                          },
                          "schema": [],
                          "connectionSettings": {
                            "name": "55736802_8a41_41fe_af8c_1f3e35d7ec91",
                            "properties": {
                              "type": "Lakehouse",
                              "typeProperties": {
                                "artifactId": "@pipeline().libraryVariables.vl_wwi_lakehouse_id",
                                "workspaceId": "@pipeline().libraryVariables.vl_wwi_workspace_id",
                                "rootFolder": "Files"
                              },
                              "externalReferences": {
                                "connection": "@pipeline().libraryVariables.vl_wwi_lakehouse_connection_id"
                              },
                              "annotations": []
                            }
                          },
                          "annotations": []
                        }
                      },
                      "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                          "allowDataTruncation": true,
                          "treatBooleanAsNumber": false
                        }
                      },
                      "enableStaging": false
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Copy_BronzeIncremental",
                    "dependsOn": [
                      {
                        "activity": "Lookup_GetLastWatermark",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      },
                      {
                        "activity": "Lookup_GetSourceWatermark",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "TridentNotebook",
                    "typeProperties": {
                      "notebookId": "9a8b74e9-8b1d-8055-4998-474209725d00",
                      "workspaceId": "00000000-0000-0000-0000-000000000000",
                      "parameters": {
                        "object_name": {
                          "value": {
                            "value": "@{concat(item().source_system, '_', item().source_schema, '_', item().source_table, '_TO_', item().target_schema, '_', item().target_table)}\n",
                            "type": "Expression"
                          },
                          "type": "string"
                        },
                        "watermark_value": {
                          "value": {
                            "value": "@activity('Lookup_GetSourceWatermark').output.firstRow.src_wm\n",
                            "type": "Expression"
                          },
                          "type": "string"
                        }
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Notebook_UpdateWatermark",
                    "dependsOn": [
                      {
                        "activity": "Copy_BronzeIncremental",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ]
                  }
                ],
                "ifFalseActivities": [
                  {
                    "type": "Copy",
                    "typeProperties": {
                      "source": {
                        "type": "FabricSqlDatabaseSource",
                        "sqlReaderQuery": {
                          "value": "@{item().custom_query}",
                          "type": "Expression"
                        },
                        "partitionOption": "None",
                        "queryTimeout": "02:00:00",
                        "additionalColumns": [
                          {
                            "name": "audit_ts",
                            "value": {
                              "value": "@utcNow()",
                              "type": "Expression"
                            }
                          },
                          {
                            "name": "source_id",
                            "value": {
                              "value": "@{item().source_system}",
                              "type": "Expression"
                            }
                          }
                        ],
                        "datasetSettings": {
                          "type": "FabricSqlDatabaseTable",
                          "schema": [],
                          "connectionSettings": {
                            "name": "a7b3fca5_89af_4b96_9ced_430cba47c4d6",
                            "properties": {
                              "type": "FabricSqlDatabase",
                              "typeProperties": {
                                "artifactId": "@pipeline().libraryVariables.vl_wwi_source_sqldb_id",
                                "workspaceId": "@pipeline().libraryVariables.vl_wwi_workspace_id"
                              },
                              "externalReferences": {
                                "connection": "@pipeline().libraryVariables.vl_wwi_fabric_source_connection"
                              },
                              "annotations": []
                            }
                          },
                          "annotations": []
                        }
                      },
                      "sink": {
                        "type": "ParquetSink",
                        "formatSettings": {
                          "type": "ParquetWriteSettings",
                          "enableVertiParquet": true
                        },
                        "storeSettings": {
                          "type": "LakehouseWriteSettings"
                        },
                        "datasetSettings": {
                          "type": "Parquet",
                          "typeProperties": {
                            "location": {
                              "type": "LakehouseLocation",
                              "folderPath": {
                                "value": "@{item().target_schema}/@{item().target_table}/@{formatDateTime(utcNow(),'yyyy/MM/dd')}",
                                "type": "Expression"
                              }
                            },
                            "compressionCodec": "snappy"
                          },
                          "schema": [],
                          "connectionSettings": {
                            "name": "564c3a3b_9b69_4bb1_8ed2_58ab7f927004",
                            "properties": {
                              "type": "Lakehouse",
                              "typeProperties": {
                                "artifactId": "@pipeline().libraryVariables.vl_wwi_lakehouse_id",
                                "workspaceId": "@pipeline().libraryVariables.vl_wwi_workspace_id",
                                "rootFolder": "Files"
                              },
                              "externalReferences": {
                                "connection": "@pipeline().libraryVariables.vl_wwi_lakehouse_connection_id"
                              },
                              "annotations": []
                            }
                          },
                          "annotations": []
                        }
                      },
                      "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                          "allowDataTruncation": true,
                          "treatBooleanAsNumber": false
                        }
                      },
                      "enableStaging": false
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Copy_BronzeFull",
                    "dependsOn": []
                  }
                ]
              },
              "name": "If_LoadType",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach_Tables",
        "description": "Loop through all 4 tables",
        "dependsOn": [
          {
            "activity": "Lookup_PipelineMetadata",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "sqlReaderQuery": "SELECT * FROM etl.pipeline_metadata\nWHERE is_active = 1\n  AND (\n       '@{pipeline().parameters.target_filter}' = ''\n       OR ',@{pipeline().parameters.target_filter},' LIKE CONCAT('%,', target_table, ',%')\n  )\n",
            "partitionOption": "None"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "schema": [],
            "connectionSettings": {
              "name": "bb1482e7_7476_4cdd_a035_91e350410be6",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "@pipeline().libraryVariables.vl_wwi_lakehouse_id",
                  "workspaceId": "@pipeline().libraryVariables.vl_wwi_workspace_id",
                  "rootFolder": "Tables"
                },
                "externalReferences": {
                  "connection": "@pipeline().libraryVariables.vl_wwi_lakehouse_connection_id"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup_PipelineMetadata",
        "dependsOn": []
      }
    ],
    "parameters": {
      "target_filter": {
        "type": "string"
      }
    },
    "libraryVariables": {
      "vl_wwi_workspace_id": {
        "type": "String",
        "variableName": "workspace_id",
        "libraryName": "vl_wwi"
      },
      "vl_wwi_lakehouse_connection_id": {
        "type": "String",
        "variableName": "lakehouse_connection_id",
        "libraryName": "vl_wwi"
      },
      "vl_wwi_lakehouse_id": {
        "type": "String",
        "variableName": "lakehouse_id",
        "libraryName": "vl_wwi"
      },
      "vl_wwi_source_sqldb_id": {
        "type": "String",
        "variableName": "source_sqldb_id",
        "libraryName": "vl_wwi"
      },
      "vl_wwi_source_system_id": {
        "type": "String",
        "variableName": "source_system_id",
        "libraryName": "vl_wwi"
      },
      "vl_wwi_fabric_source_connection": {
        "type": "String",
        "variableName": "fabric_source_connection",
        "libraryName": "vl_wwi"
      }
    }
  }
}